*.jpg
*.png
*.ipynb
*.zip
.DS_Store/
__pycache__/
jsons/
submission_1-checkpoints/
nucdre_images_04/
test-result/
soraw@192.168.87.213/
lil_tests/
experiments/
experiments_202202/
experiments_202203/
